.container {
  padding: 20px;
}

.title {
  font-size: 28px;
  color: #003366;
  margin-bottom: 20px;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
}

.link {
  color: #003366;
  font-size: 18px;
  text-decoration: none;
}

.link:hover {
  color: #66b2ff;
  text-decoration: underline;
}
